body {
    background-color:#d7f9f8;
    font-family: "poppins", sans-serif;}

a { 
    color: #f0aaaa;
    }

.container {
    margin: 120px auto 30px auto;
    max-width: 600px;
}

h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    color: #f0aaaa;
    text-align: center;
    letter-spacing: 10px;
}
  
form {
    display: flex;
    padding: 30px;
    background-color: #ffffea;
    border-radius: 10px;
    border: 2px solid #fbe0e0;        
    display: flex;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    margin-bottom: 30px;
}

.hint {
    line-height: 1.5;
    margin-top: 5px;
    opacity: 0.6;
    font-size: 12px;
}


header{
    margin-bottom: 30px;
}


:focus-visible {
    outline: none;
}

.instructions{
    padding: 16px;
    width: 80%;
    font-size: 16px;
    line-height: 20px;
    color: #3c025e;
    border: 1px solid #e5d4ef;
    border-radius: 30px;
}

.submit-button{
    margin-left: 10px;
    background-color: #f0aaaa;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 14px 24px;
    width: 150px;
    font-size: 16px;
    transition: all 200ms ease;
    cursor: pointer;
}
:hover.submit-button {
    background-color: #ffffea;
    color:#f0aaaa ;
    border:1px solid #f0aaaa;
}

.recipe{
    font-size: 16px;
    background-color: #ffffea;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #d7f9f8;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    border: 2px solid #fbe0e0;
    color: #5e606c;
}
    

footer{
    text-align: center;
    font-size: 12px;
    display: block;
    color: #5e606c;
}

.hidden{
    display: none;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    text-align: center;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}